* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');


body {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

/*---------------------- header ---------------------- */
.desktop {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    height: 64px;
}

/*  left side */
.desktop>.left {
    display: flex;
    align-items: center;
}

/*  Right side */
.desktop ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

/*---------------------- banner ---------------------- */
.banner {
    display: flex;
    background-color: #d8d8d8;
    padding: 32px 24px;
    gap: 24px;
}

.banner>figure {
    width: 60%;
}

.banner>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.banner button {
    background-color: #4a4a4a;
    border: transparent;
    padding: 8px 0;
    color: white;
}

/*---------------------- information ---------------------- */

.information {
    display: flex;
    padding: 32px 24px;
    gap: 24px
}

/* left side */
.information figure {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.information figcaption {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* right side */
.information article {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    padding: 16px;
    gap: 16px;

}

.info figure {
    width: 35%;
}

.info div {
    width: 65%;
}

.readmore {
    color: aqua;
}

/* --------------------- learning --------------------- */
.learning {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 32px 72px;
}

.learning h2 {
    text-align: center;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 16px
}

.card {
    display: flex;
    flex-direction: column;
    flex: 30%;
    /* width: 30%; */
}

/* ------------------ thesis -------------------- */

.thesis {
    display: flex;
    flex-direction: column;
}

.thesis h3 {
    text-align: center;
}

/* -------------------------------------------------------- */
/* --------------    mibile   ----------------------------- */

@media only screen and (max-width: 376px) {
    body {
        width: 375px;
    }

    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        height: 64px;
        width: 100%;
    }

    header nav {
        height: 100%;
    }

    header .mobile ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .banner {
        flex-direction: column;
        padding: 0;
        gap: 16px;
    }

    .banner>figure {
        width: 100%;
    }

    .banner>div {
        padding: 16px;
    }

    .banner button {
        background-color: #9b9b9b;
        font-weight: bold;
    }

    .information>figure {
        display: none;
    }

    .information article {
        width: auto;
    }

    .info {
        flex-direction: column;
    }

    .info figure {
        width: 100%;
    }

    .img-info-1 {
        content: url('./capstone_colmar_assets/images/information-orientation-mobile.jpg');
    }

    .img-info-2 {
        content: url('./capstone_colmar_assets/images/information-campus-mobile.jpg');
    }

    .img-info-3 {
        content: url('./capstone_colmar_assets/images/information-guest-lecture-mobile.jpg');
    }

    .info>div {
        padding-left: 16px;
    }



}